<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Responsive Table + Detail View</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <link rel="stylesheet" href="{{ asset('css/style2.css') }}">
      <!-- <link rel="stylesheet" href="css/style.css"> -->


</head>

<body>
  <!-- <h1>
  Providers
</h1>
<p>
  (An example table + detail view scenario)
</p> -->
<main>
  <div class="top">
    <!-- <i class="uil uil-bars sidebar-toggle"></i> -->

    <div class="search-box">

        <input type="text" placeholder="أبحث هنا...">
        <i class="uil uil-search"></i>
    </div>

    <!--<img src="images/profile.jpg" alt="">-->
</div>
  <h1 class="title_table">  البطايــق المفعـــلة والغيــر مفعــلة</h1>
  <table>
    <thead>
      <tr>
        <th>
          التسلسل
        </th>
        <th>
          اسم المالك
        </th>
        <th>
          نوع السيارة
        </th>
        <th>
          المحافظة
        </th>
        <th>
          رقم الهوية
        </th>
        <th>
          رقم السنوية
        </th>
        <th>
          رقم بطاقة السكن
        </th>
        <th>
          رمز التفعيل
        </th>
        <th>
          الحالة
        </th>
        <th>
          الملاحظات
        </th>
        <th>

        </th>

      </tr>
    </thead>

    <tbody>
      <tr>
        <td data-title='Provider Name'>
          12
        </td>
        <td data-title='Provider Name'>
         بغداد
        </td>
        <td data-title='Provider Name'>
         برازيلي
        </td>
        <td data-title='Provider Name'>
         98759384
        </td>
        <td data-title='Provider Name'>
         98759384
        </td>
        <td data-title='E-mail'>
          e-mail@test-email.com
        </td>
        <td data-title='Provider Name'>
          98759384
         </td>
         <td data-title='Provider Name'>
          98759384
         </td>
         <td data-title='Provider Name'>
          98759384
         </td>
         <td data-title='Provider Name'>
          98759384
         </td>
        <td class='select'>
          <a class='button' href='#'>
            Select
          </a>
        </td>
      </tr>
      <tr>
        <td data-title='Provider Name'>
          12
        </td>
        <td data-title='Provider Name'>
         بغداد
        </td>
        <td data-title='Provider Name'>
         برازيلي
        </td>
        <td data-title='Provider Name'>
         98759384
        </td>
        <td data-title='Provider Name'>
         98759384
        </td>
        <td data-title='E-mail'>
          e-mail@test-email.com
        </td>
        <td data-title='Provider Name'>
          98759384
         </td>
         <td data-title='Provider Name'>
          98759384
         </td>
         <td data-title='Provider Name'>
          98759384
         </td>
         <td data-title='Provider Name'>
          98759384
         </td>
        <td class='select'>
          <a class='button' href='#'>
            Select
          </a>
        </td>
      </tr>
      <tr>
        <td data-title='Provider Name'>
          12
        </td>
        <td data-title='Provider Name'>
         بغداد
        </td>
        <td data-title='Provider Name'>
         برازيلي
        </td>
        <td data-title='Provider Name'>
         98759384
        </td>
        <td data-title='Provider Name'>
         98759384
        </td>
        <td data-title='E-mail'>
          e-mail@test-email.com
        </td>
        <td data-title='Provider Name'>
          98759384
         </td>
         <td data-title='Provider Name'>
          98759384
         </td>
         <td data-title='Provider Name'>
          98759384
         </td>
         <td data-title='Provider Name'>
          98759384
         </td>
        <td class='select'>
          <a class='button' href='#'>
            Select
          </a>
        </td>
      </tr>
      <!-- <tr>
        <td data-title='Provider Name'>
          Christoph Koller
        </td>
        <td data-title='E-mail'>
          e-mail@test-email.com
        </td>
        <td class='select'>
          <a class='button' href='#'>
            Select
          </a>
        </td>
      </tr> -->
      <!-- <tr>
        <td data-title='Provider Name'>
          Bram Lemmens
        </td>
        <td data-title='E-mail'>
          e-mail@test-email.com
        </td>
        <td class='select'>
          <a class='button' href='#'>
            Select
          </a>
        </td>
      </tr> -->
    </tbody>
  </table>
  <!-- <div class='detail'> -->
    <!-- <div class='detail-container'>
      <dl>
        <dt>
          Provider Name
        </dt>
        <dd>
          John Doe
        </dd>
        <dt>
          E-mail
        </dt>
        <dd>
          email@example.com
        </dd>
        <dt>
          City
        </dt>
        <dd>
          Detroit
        </dd>
        <dt>
          Phone-Number
        </dt>
        <dd>
          555-555-5555
        </dd>
        <dt>
          Last Update
        </dt>
        <dd>
          Jun 20 2014
        </dd>
        <dt>
          Notes
        </dt>
        <dd>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
        </dd>
      </dl>
    </div> -->
    <!-- <div class='detail-nav'>
      <button class='close'>
        Close
      </button>
    </div>
  </div> -->
</main>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
